<!DOCTYPE html>
<html>
<head>
    <title> MM Image Vault</title>
</head>
<body>
    <h1>MM ImageVault</h1>

    <p>
        Upload, Download and Manage Images
    </p>
    <hr>
    <h2>Upload Images</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="images" multiple>
        <br><br>

        <button type="submit">
            Upload Images
        </button>
    </form>
    <hr>

    <h2>Uploaded Images</h2>

    {% if uploaded_images %}
        {% for img in uploaded_images %}
            <div>
                <p>{{img.image.name}}</p>
                <img src="{{img.image.url}}" width="'150">
                <br>
                <a href="{{img.image.url}}" download>Download</a>
                <br>
                <a href="{% url 'delete_image' img.id%}">Delete</a>
            </div>
            <hr>
        {% endfor %}
    {% else %}
            <p>No images uploaded yet.</p>
    {% endif %}
    
</body>
</html>